.app-box {
    background: var(--app-wrap-bg-color) !important;
    border-radius: 5px;
    position: relative;
}

.app-box-transparent {
    background: transparent !important;
}

.app-box-header {
    padding: 10px 0px;
}

.app-box-header-icon-wrap {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.app-box-header-icon {
    text-decoration: none;
    font-size: 28px !important;
    color: var(--app-color) !important;
}

.app-box-body {
    padding-bottom: 20px;
    position: relative;
}

.app-box-body-content {

}

.app-layout-padding {
    padding-left: var(--app-layout-padding) !important;
    padding-right: var(--app-layout-padding) !important;
}

.app-box-footer {

}