.app-card {
    background: var(--app-wrap-bg-color);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    overflow: hidden;
    outline: none;
    position: relative;
}

.app-card-skeleton {
    border-radius: 10px;
}

.app-card:hover .app-overlay-left, .app-card:hover .app-overlay-right, .app-card:hover .app-overlay-center {
    /*opacity: 1;*/
}

.app-card.app-loading:before, .app-card .app-loading:before {
    border-radius: 10px;
}

.app-card-content {
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.app-card-header {

}

.app-card-header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-card-body {
    position: relative;
    overflow: hidden;
}

.app-card-body-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-card-item {
    width: 100%;
}

.app-card-body-grid-horizontal .app-card-item:first-child {
    width: 80px;
}

.app-card-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid var(--app-primary);
    color: var(--app-primary);
    font-size: 25px;
    font-weight: bold;
    display: inline-grid;
    place-items: center;
    outline: none;
    position: relative;
}

.app-card-icon img {
    width: 25px;
    height: 25px;
}

.app-card-icon:not(.app-card-icon-text).app-loading:before {
    border-radius: 43%;
}

.app-card-icon-bg {
    background: var(--app-primary);
    /*background: linear-gradient(90deg, var(--app-primary) 0%, #FF4848 40%, var(--app-primary) 60%);*/
    background-position: 0px;
    background-size: 200px;
    border: none;
    color: #fff;
    font-size: 25px;
    transition: all 0.3s ease;
}

.app-card-icon-text {
    width: auto;
    height: auto;
    color: var(--app-primary);
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 0% !important;
    word-break: break-word;
}

.app-card-icon-transparent {
    border: none;
    font-size: 50px;
}

.app-card-title {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
    display: block;
    color: var(--app-color);
}

 .app-card-text {
    font-size: 12px;
    color: var(--app-text-light);
    font-weight: 200;
    display: block;
}

.app-card:hover .app-card-icon-bg {
    background-position: -120px;
}

/*.app-card:hover .app-card-icon-bg {
    background: linear-gradient(90deg, var(--app-primary), #FF4848);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}*/

.app-card-footer {

}

.app-card-footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Product*/
.app-product-card {

}

.app-product-card-img {
    transition: var(--app-transition);
    height: 200px;
}

@media only screen and (max-width: 767px) {
    .app-product-card-img {
        height: auto !important;
    }
}

.app-product-card:hover .app-product-card-img {
    transform: scale(1.5);
}

.app-card-hover-content {
    position: absolute;
    right: 0;
    top: 0;
}

.app-card-hover-item {
    margin-right: -80px;
    transition: var(--app-transition);
}

.app-product-card:hover .app-card-hover-item {
    margin-right: 10px;
}