.app-breadcrumb {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.app-breadcrumb ul {

}

.app-breadcrumb ul li {
    list-style-type: none;
    float: left;
    cursor: pointer;
}

.app-breadcrumb ul li.active {
    color: var(--app-color);
}

.app-breadcrumb ul li:not(:first-child) {
    margin-left: 20px;
}

.app-breadcrumb ul li:not(:first-child):before {
    position: absolute;
    margin-left: -15px;
    margin-top: 3px;
    display: block;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 10px;
    content: "\f105";
}

.app-breadcrumb ul li a {
    text-decoration: none;
    color: var(--app-primary);
}