.app-item {

}

.app-item li {
    list-style-type: none;
    padding: 10px 0px;
    border-bottom: 1px solid var(--app-input-border-color);
}

.app-item li:hover {
    background-color: rgba(244,245,247,0.7);
}

.app-item li:last-child {
    border-bottom: none;
}

.app-item li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.app-item-left {
    text-align: center;
}

.app-item-center {
    /*width: 70%;*/
    padding: 0px 5px;
}

.app-item-right {
    text-align: right;
}

.app-item-icon {
    font-size: 30px;
    font-weight: bold;
}

.app-item-title {
    font-size: 18px;
    display: block;
}

.app-item-text {
    font-size: 12px;
    display: block;
    color: var(--app-color-light) !important;
}

.app-item-not-found {
    text-align: center;
}

.app-item-not-found-img {

}

.app-item-not-found-text {
    color: var(--app-danger);
    font-size: 30px;
}

@media only screen and (max-width: 575px)
{
    .app-item-icon {
        font-size: 20px;
    }

    .app-item-title {
        font-size: 14px;
    }

    .app-item-text {
        font-size: 8px;
    }
}