.dropdown {
    position: relative;
}

.dropdown-menu {
    color: var(--app-color) !important;
    background: var(--app-wrap-bg-color) !important;
    border: 1px solid #eee !important;
}

.app-dropdown-menu {
    padding: 0px !important;
    border: none !important;
    border-radius: 10px !important;
    background: var(--app-wrap-bg-color) !important;
    overflow: hidden;
}

.dropdown-hoverable .app-dropdown-menu {
    position: fixed;
}

.dropdown-hoverable:hover .app-dropdown-menu {
    display: block;
}

.app-dropdown-content {

}

.app-dropdown-header {

}

.app-dropdown-body {

}

.app-dropdown-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}