.app-auth-heading {
	text-align: center;
}

.app-auth-heading h1 {
	color: #d89104;
}

.app-auth-heading h1:first-letter {
	color: var(--app-primary);
	font-size: 60px;
}

.app-auth-heading small {
	font-size: 14px;
	letter-spacing: 8px;
	color: #d89104;
	opacity: 0.7;
}

@media only screen and (max-width: 770px)
{
	.app-auth-heading h1 {
		font-size: 30px;
	}

	.app-auth-heading h1:first-letter {
		font-size: 40px;
	}

	.app-auth-heading small {
		font-size: 12px;
	}
}

@media only screen and (max-width: 420px)
{
	.app-auth-heading h1 {
		font-size: 20px;
	}

	.app-auth-heading h1:first-letter {
		font-size: 30px;
	}

	.app-auth-heading small {
		font-size: 10px;
	}
}