:root {
    --app-font-family: "Nunito ExtraLight";
    --app-layout-padding: 15px;
    --app-header-height: 80px;
    --app-menu-width: 260px;
    --app-menu-mini-width: 80px;
    --app-transition: 0.5s;
    --app-overlay-color: #2d2a2f85;

    /*Default*/
    --app-bg-color: #edf2f7;
    --app-wrap-bg-color: #fff;
    --app-color: #636b6f;
    --app-color-light: #9E9E9E;
    --app-highlight-color: #f0f6ff;
    --app-color-tint: #eee;
    --app-input-bg-color: #fff;
    --app-input-border-color: #dde2ec;
    --app-disable-bg-color: #ccc;
    --app-disable-border-color: #ccc;
    --app-table-action-color: #ccd9e8;

    /*--app-primary: #9900ff;*/
    --app-primary: #000;
    --app-success: #6aa84f;
    --app-info: #5bc0de;
    --app-warning: #e8b51c;
    --app-default: #292b2c;
    --app-success: #6aa84f;
    --app-danger: #dc3545;
}

.app-dark {
    /*Dark*/
    --app-bg-color: #262C49;
    --app-wrap-bg-color: #10163A;
    --app-color: #ccd9e8;
    --app-color-light: #9E9E9E;
    --app-highlight-color: #031152;
    --app-color-tint: #eee;
    --app-input-bg-color: #031152;
    --app-input-border-color: #031152;
    --app-disable-bg-color: #262C49;
    --app-disable-border-color: #262C49;
}